In [1]:
print("hello")

hello

In [2]:
print("Yasmin Goooo!")

Yasmin Goooo!

In [3]:
print(2)

2

In [4]:
age = input("Enter your age")
if int(age) == 18 :
    print("Welcome:)")
else:
    print("Sorry,Not Allowed")

Enter your age12
No

In [5]:
print('love'<'zebra')

True

In [6]:
print('song'<'long')

False

In [7]:
print('a'<'A')

False

In [8]:
print('a'>'A')

True

In [9]:
print('A'<'z')

True

In [10]:
print('a'>'')

True

In [11]:
print('a'>'0')

True

In [13]:
numm=1
numm=numm*10+2
numm=numm*10+3
print(numm)

123

In [15]:
answer = min(3,6)
print(answer)

3

In [16]:
num1 = input('write first number')
num2 = input('write second number')
num3 = input('write third number')
num4 = input('write fourth number')
num5 = input('write fifth number')

print('the smallest number is'min(num1,num2,num3,num4,num5))

write first number7
write second number12
write third number58.2
write fourth number1
write fifth number67
1

In [17]:
num1 = input('write first number')
num2 = input('write second number')
num3 = input('write third number')
num4 = input('write fourth number')
num5 = input('write fifth number')

print('the largest number is'max(num1,num2,num3,num4,num5))

write first number24
write second number62
write third number71
write fourth number2
write fifth number85
85

In [18]:
print(NotADirectoryError)

<class 'NotADirectoryError'>

In [19]:
user_name = "Yasmin"                               #string   (the value must be between double cotations "")
print(user_name)

Yasmin

In [20]:
user_age = 25                                      #integer  (full number without decimal)
print(user_age)

25

In [21]:
user_payment = 560.50                              #float    (with decimal)
print(user_payment)

560.5

In [22]:
isUpdated = True                                   #boolean  (True & False)

True

In [23]:
user_phones = ["0535523634", "0596543049"]         #array/list    (0,1,2,3   begins with 0 index  many values but with the same type)
user = {"name":"Yasmin", "age":15}                 #object(OOP)   (contains more than 1 info  key & value     the key must be a string)
print(user_phones,user)

['0535523634', '0596543049'] {'name': 'Yasmin', 'age': 15}

In [24]:
salary = (int(14.7))
print(type(salary))
print(salary)

<class 'int'>
14

In [26]:
import webbrowser
website_name = input("Enter the website you want")
url = "https://www.google.com/"
if website_name == "instagram":
    webbrowser.open("https://www.instagram.com/yasmin_hamed2007/")
else:
    webbrowser.open(url)

Enter the website you wanttiktok

In [28]:
number = int(input("enter even number"))
if number % 2 == 0:
    print("Exellant")
else:
    print("error!! ")
    print(number , "is not an even number")

enter even number12
Exellant

In [ ]:
name = input('enter your name')
print(len(name))

In [32]:
name2 = input("enter a username")
if len(name2)<20:
    print("Welcome!",name2)
else:
    print("error!! ")
    print("username:",name2 , "is too long.max 50 characters")

enter a usernameJasmine_27
Welcome! Jasmine_27

In [35]:
name = input('enter your name')
print(len(name))

enter your nameYasmine
7

In [36]:
userr = input("enter your name")
print('a' in userr)

enter your nameHamed
True

In [ ]:
salary = int(input("your salary..."))
if salary < 10000:
    print('work Harder')
print("Keep Going:)")

In [41]:
yourAge=int(input("enter your age in numbers"))
if yourAge < 12:
    print("you are a baby!")
elif yourAge < 18:
    print("you are young man!")
elif yourAge >18:
    print("Welcome,Man!")

enter your age in numbers19
Welcome,Man!

In [ ]:
salary = int(input("your salary..."))
if salary < 10000:
    print('you are poor!!')
print("Keep Going:)")

In [42]:
salary = int(input("your salary..."))
if salary < 10000:
    print('you are poor!!')
elif salary < 20000:
    print('Good Salary!!')
elif salary > 20000:
    print('you are rich!!')
print("Keep Going:)")

your salary...13000000
you are rich!!
Keep Going:)